<div style="display: block">
  <span style="display: block; margin-top: 20px">
    <div style="text-align:justify; clear:both; padding-top: 0px;">Please SignIn to your LinkedIn account to write a testimonial. LinkedIn allows me to access your name and link to your profile to verify authenticity.</div>
    <button type="button" id="nextSection" class="btn btn-primary" style="display:block; margin-top: 5px;" (click)="writeTestimonial()">Write Testimonial</button>
  </span>
</div>

<div *ngIf="editMode" class="container">
    <div class="row">
      <div class="col-mat-6 offset-mat-3">
          <mat-card>
            <mat-card-title style="float:left;">Write a Testimonial</mat-card-title>
            <mat-card-content>
              <form class="example-form" (ngSubmit)="onSubmit()">
                <div>
                  <mat-form-field style="display: block">
                    <input matInput placeholder="Name" type="text" [(ngModel)]="testimonialComment.name" name="name" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field style="display: block">
                    <mat-select matInput placeholder="Select Company" [(ngModel)]="testimonialComment.company" name="company" required>
                      <mat-option *ngFor="let c of testimonialComment.companies" [value]="c">
                          {{ c }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field style="display: block">
                      <mat-select matInput placeholder="Relation" [(ngModel)]="testimonialComment.relation" name="relation" required>
                          <mat-option *ngFor="let r of testimonialComment.relations" [value]="r">
                              {{ r }}
                          </mat-option>
                        </mat-select>
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="display: block">
                        <textarea matInput rows="6" cols="4" placeholder="Write Testimonial" [(ngModel)]="testimonialComment.comment" name="comment" required></textarea>
                    </mat-form-field>
                  </div>

                  <button type="submit" mat-button mat-raised-button color="primary" style="margin-left: 60%">Save</button>
                  <button type="button" mat-button mat-raised-button color="primary" (click)="cancelTestimonial()" style="float: right;">Cancel</button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>  
  </div>
 
  <div *ngIf="!editMode" class="row container" style="display: inline;">
      <h1 style="color:blue; margin-left: -10%;">Testimonials</h1>
      <!-- <hr style="display: block;"> -->
      <div class="col-sm-6" id="testimonialCarousel" style="margin-top: 10px; margin-left: 20%; position: relative;">
        <div id="myCarousel" class="carousel slide" data-interval="false">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" style="border: 0px;">
              <div *ngFor="let j of testimonialsList; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
                  <h4 >{{j.name}}</h4>
                  <p style="font-size: 14px; line-height: 4px;">{{j.company}}</p>
                  <p style="font-size:14px; padding-top: -12px; display: block">{{j.relation}}</p>
                  <p style="padding-top: 0px; text-decoration-color: #05090e; text-align: justify "><i>"{{j.comment}}"</i></p>
              </div>
          </div>
  
          <!-- Left and right controls -->
          <a class="left" href="#myCarousel" id="leftArrow" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right" href="#myCarousel" id="rightArrow" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
    
    </div>
