html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #3d464e;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row 
  {
    min-height: 100%;
  }
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #D8d9db;
    height: auto;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #3d464e;
    color: white;
    padding: 5px;
    position:fixed;
    bottom:0;
    width:100%;
  }

   
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 1100px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .text-left{
      min-height: auto;
    }
    
    #logotext{
      padding-left: 1px;
    }
    [class*="col-"] {
      width: 100%;
    }

    footer{
      display: none;
    }
  }

  /* @media screen and (max-width: 1200px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
    
    #logotext{
      padding-left: 1px;
    }
    [class*="col-sm-*"] {
      width: 100%;
  }
  } */

  hr{
    border: 1px solid blue;
  }

 #rightArrow{
  height:40px; 
  width:40px;
  position: absolute; 
  right:-40px; 
  top: 50%;
 }
 
 #leftArrow {
  height:40px; 
  width:40px;
  position: absolute;
  left:1px;
  top: 50%;
 }
