<div class="container">
  <div class="row">
    <div class="container-fluid"></div>
      <div id="InteractionDiv">
          <span class="typingText col-xs-12 col-sm-10 col-md-6 col-lg-6"></span>
          <button type="button" id="continueButton" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Continue</button>
        </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title" style="float:left">Continue as:</h4>
          <div id="closeModal" data-dismiss="modal" style="float: right;"><img src="assets/Images/modalclose.png" style="height:20px; width:20px;"></div>
        </div>
        <div class="modal-body">
          <ul class="list-group" style="list-style: none">
            <li class="list-group-item">
              <span>
                  <img src="assets/Images/hiringmanager.png" style="height:40px; width:40px; float: left;">
                  <div (click)="onModeClick('hiringmanager');"><h4 style="padding-left: 5px;">Hiring Manager</h4></div>
              </span>
            </li>
            <li class="list-group-item">
                <span>
                    <img src="assets/Images/recruiter.png" style="height:40px; width:40px; float: left;">
                    <div (click)="onModeClick('recruiter');"><h4 style="padding-left: 5px;">Recruiter</h4></div>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <img src="assets/Images/printer.png" style="height:40px; width:40px; float: left;">
                    <h4 style="padding-left: 5px;">   View Printable Version</h4>
                </span>
            </li>
          </ul>
        </div>
        
      </div>
      
    </div>
  </div>
  
