<div class="ParentDiv">
  
    <div class="PhotoDiv" style="display: block;">
        <img id="photo" src="assets/Images/ram.jpg" style="height:200px;width:200px;overflow: hidden; float: left;">
    </div>
  <div class="NameDiv" style="clear: left;padding-top: 0px;">
    <span style="padding-top: -5px;">
      <h3><strong>SRI SAKETHRAM GALI</strong></h3>
      <p style="font-size: 16px; line-height: 8px;"><strong>SOFTWARE ENGINEER</strong></p>
    </span>
    <span>
      <a href="https://www.linkedin.com/in/srisakethramgali1/" target="_blank"><img id="photo" src="assets/Images/linkedin.png" style="height:30px;width:35px;"></a>
      <img id="photo" src="assets/Images/naukri.jpg" style="height:30px;width:40px; padding-left: 10px;">
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=srisakethram7@gmail.com" target="_blank"><img id="photo" src="assets/Images/gmail.png" style="height:28px;width:40px; padding-left: 10px;"></a>
      <a href="https://www.facebook.com/sriram.saketh" target="_blank"><img id="photo" src="assets/Images/fb.png" style="height:30px;width:40px; padding-left: 10px;"></a>
    </span>
  </div>

  <div class="TitleDiv">
      
  </div>

  <div class="ContactDetails">

  </div>
</div>
